<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="home"
      aria-selected="true">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="profile"
      aria-selected="false">Registration</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab">
    <form class="login-form">
      <label>Email</label>
      <input type="email" name="email" class="form-control" [(ngModel)]="email">
      <label>Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="password">

      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-outline-primary" (click)="login()"> Login </button>
        <button class="btn btn-outline-primary" [routerLink]="'/home'"> Cancel </button>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="profile-tab">
    <ng-container>
      <form class="form-horizontal" action="" method="POST">
        <fieldset class="register-form">
          <block-ui>
            <div id="legend">
              <legend class="">Register</legend>
            </div>
            <form [formGroup]="regForm" (ngSubmit)="register(regForm.value)" class="text-center border border-light p-5">

              <!-- Username -->
              <div class="md-form">
                <input type="text" id="username" name="username" formControlName="username" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                <label for="username" class="active">Username</label>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
              </div>
              <!-- email -->
              <div class="md-form">
                <input type="email" id="email" name="email" class="form-control mb-4" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required >
                <label for="email" class="active">Email</label>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <!-- Password -->
              <div class="md-form">
                <input type="password" id="password" name="password" formControlName="password" class="form-control mb-4"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <label for="password" class="active">Password</label>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="md-form">
                <input type="password" id="password_confirm" name="password_confirm" formControlName="password_confirm" class="form-control mb-4"
                  [ngClass]="{ 'is-invalid': submitted && f.password_confirm.errors }" required>
                <label for="password_confirm" class="active">Password (Confirm)</label>
                <div *ngIf="submitted && f.password_confirm.errors" class="invalid-feedback">
                  <div *ngIf="f.password_confirm.errors.required">Password is required</div>
                  <div *ngIf="f.password_confirm.errors.mustMatch">Passwords must match</div>
                </div>
              </div>
              <button class="btn btn-success" id="register" >Register</button>
              <!-- <button class="btn btn-info btn-block" type="submit">Post Question</button> -->
            
            </form>
          </block-ui>
        </fieldset>
      </form>
    </ng-container>
  </div>
</div>


