
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
  
  <a class="navbar-brand" href="/home"><img src="../assets/ask_the_pro_2019.png" style="width: 120px;height: 60px;" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/question'" routerLinkActive="active">Topic</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
      <button class="btn btn btn-elegant waves-effect waves-light btn-rounded waves-effect" *ngIf="!auth.isAuthenticated()" [routerLink]="'/login'">Login</button>
      </li>
     
      <li class="nav-item dropdown" *ngIf="auth.isAuthenticated()">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          <i class="fas fa-user"></i> {{user_role | uppercase}} Profile </a>
        <div class="dropdown-menu dropdown-info fadeInDropdown" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" [routerLink]="'/dashboard'">Dashboard</a>
          <button class="btn btn-outline-secondary btn-rounded waves-effect" *ngIf="auth.isAuthenticated()" (click)="logOut()">Logout</button>
  
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

<!-- <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img src="../assets/ask_the_pro_2019.png" style="width: 120px;height: 60px;" >
    <a class="navbar-brand" href="/home"></a>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/question">Topic</a>
        </li>
      </ul>
      <button class="btn btn-outline-primary btn-rounded waves-effect" *ngIf="!auth.isAuthenticated()" [routerLink]="'/login'">Login</button>
      <button class="btn btn-outline-secondary btn-rounded waves-effect" *ngIf="auth.isAuthenticated()" (click)="logOut()">Logout</button>
    </div>
  </nav> -->
<!-- <router-outlet><br ></router-outlet> -->
<div [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"><br ></router-outlet>
</div>
<footer class="footer">
  <span class="footertxt"> AskThePro © 2020 Copyright</span>
  <div class="container" *ngIf="auth.isAuthenticated()">
    <span style="color:white;position: absolute;right: 5%;top:20px;">Login Expired In 2hr</span>
  </div>
</footer>